body 
{
    margin: 0; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(77, 59, 59);
    text-align: center;
}
.header 
{
    padding: 15px;
}
.gtd 
{
    margin-left: -620px;
}
.borderinside 
{
    background-image: url(img_hero.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    height: 1000px;
    padding: 100px 0px 50px;  
}
.borderinside img 
{
    margin: 0px 30px;
}
.hello
{
   font-size:550%;
   margin-bottom: 160px;
}
.how 
{
    font-size: 350%;
    color: yellow;
}
.upfooter 
{
    height: 20px;
    background-color: yellow;
}
table, td, th 
{
    border: none;
}     
table 
{
    border-collapse: collapse;
    margin-left: 370px;
    margin-bottom: 100px;
    text-align: left;
}     
th 
{
    height: 50px;
    width: 230px;
    color: yellow;
}
td 
{
    color: white;
}
